html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    background: url('./img/loader.gif') no-repeat center center;
}
.warning {
    font-weight: bold;
    padding: 10px;
    border: 5px solid red;
    color: red;
    text-align: center;
}
.mainWrapper {
    display: none;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    position: absolute;
    background: black url('./img/darkBg.png');
}
.mainWrapper.initialized {
    display: block;
}
.blink .mainWrapper.initialized {
    background: #fff;
}
/* table */
 table {
    width: 100%;
    margin: 2em 0;
    border-collapse: collapse;
}
table td {
    border: 1px solid grey;
}
.wide {
    width: 100%;
}
.large {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 3em;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.green {
    background-color: green;
}
/* buttons */
 .btn {
    border: none;
    height: 2em;
}
/* debug table */
 .debug td {
    border: 2px solid orange;
}
.startBtn {
    background: rgba(200, 200, 200, .1) url('./img/zombie.png') no-repeat .5em bottom;
    background-size: auto 90%;
    border: .2em solid rgba(78, 78, 78, .5);
    position: relative;
}
.startBtn span {
    position: absolute;
    top: 1.5em;
    right: 1em;
    display: block;
    width: 40%;
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0.1em 0.1em black;
}
/* status bar */
 .statusBar {
    overflow: hidden;
}
.statusBar li {
    float: right;
    display: block;
    margin-left: .5em;
    color: #fff;
    padding-left: 1.8em;
    font-weight: bold;
    font-size: .9em;
}
.statusBar li.highlight {
    color: red;
}
.statusBar li.highlightGreen {
    color: green;
}
.statusBar li.health {
    background: url('./img/heartIco.png') no-repeat left top;
    background-size: auto 100%;
}
.statusBar li.shooted {
    background: url('./img/zombieIco.png') no-repeat left top;
    background-size: auto 100%;
}
