.warning {
    font-weight: bold;
    padding: 10px;
    border: 5px solid red;
    color: red;
    text-align: center;
}
/* table */
 table {
    width: 100%;
    margin: 2em 0;
    border-collapse: collapse;
}
table td {
    border: 1px solid grey;
}
.wide {
    width: 100%;
}
.large {
    font-size: 3em;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.green {
    background-color: green;
}
/* buttons */
 .btn {
    border: none;
    height: 2em;
}
/* debug table */
 .debug td {
    border: 2px solid orange;
}
